{
	"extends": [
		"@magister_zito",
		"prettier"
	],
	"ignorePatterns": [
		".build",
		"rollup.config.js"
	],
	"overrides": [
		{
			// "extends": ["plugin:@typescript-eslint/all"],
			"files": ["**/*.ts"],
			// "parser": "@typescript-eslint/parser",
			"parserOptions": {
				"project": ["./tsconfig.json", "./__tests__/tsconfig.json"]
			}
		}
	]
}
